## S14a: Lab 2 - Pandas

Pandas plays nicely with Numpy, making a nice transition from previous work with n-shaped arrays. In this notebook we will be two structures for combining data: Series and DataFrames.

In this notebook, we are offering just a glimpse into Pandas before moving on to application in an example. It's worth learning more outside of lab: if you've only got 10min, go [here](https://pandas.pydata.org/docs/getting_started/10min.html); otherwise check out the learning [options](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html). Much of this can be learned piecemeal through practical experience cleaning and pre-processing data.

### Building a data structure: starting with [Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html?highlight=series#pandas.Series)

In [1]:
# First import libraries

import numpy as np
import pandas as pd

In [2]:
# Scenario 1: Rustle up some simple key-value mock data
keys = ['rad', 'bad', 'sad', 'mad', 'fad']
values = np.random.randint(1, 11, len(keys))

# Connect with pandas Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
data_auto_i = pd.Series(values)
print('Auto increment:')
print(data_auto_i)
data_manu_i = pd.Series(values, keys)
print('\nManual increment:')
print(data_manu_i)

Auto increment:
0    1
1    5
2    5
3    7
4    2
dtype: int32

Manual increment:
rad    1
bad    5
sad    5
mad    7
fad    2
dtype: int32

In [3]:
# Find particular value by index/key

print(data_auto_i[2])
print(data_manu_i['sad'])

5
5

In [4]:
# Scenario 2: Rustle up data using dictionaries

arr_dicts = [
    {'name': 'Zona', 'color': 'red', 'intensity': np.random.randint(0, 256)},
    {'name': 'Aleksander', 'color': 'green', 'intensity': np.random.randint(0, 256)},
    {'name': 'Fred', 'color': 'blue', 'intensity': np.random.randint(0, 256)},
    {'name': 'Brian', 'color': 'cyan', 'intensity': np.random.randint(0, 256)},
    {'name': 'Jared', 'color': 'magenta', 'intensity:': np.random.randint(0, 256)}
]
teamdata1 = pd.Series(arr_dicts)
teamdata1

0    {'name': 'Zona', 'color': 'red', 'intensity': 23}
1    {'name': 'Aleksander', 'color': 'green', 'inte...
2    {'name': 'Fred', 'color': 'blue', 'intensity':...
3    {'name': 'Brian', 'color': 'cyan', 'intensity'...
4    {'name': 'Jared', 'color': 'magenta', 'intensi...
dtype: object

### Excel-esque with [Dataframes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html?highlight=dataframe#pandas.DataFrame)

In [5]:
# Some extractions
rows = np.array(['1', '2', '3'])
cols = np.array(['a', 'b', 'c', 'd', 'e'])

# To random Dataframe
dataframe = pd.DataFrame(np.random.randint(1, 101, (len(rows), len(cols))), rows, cols)
dataframe

    a   b   c   d   e
1  75   7   6  93   1
2  54  96  52  57  75
3  24  51  76  35  77

In [8]:
# Grab a col

print('COL:')
print(dataframe['c'])

# Grab a value

print('\nPOS:')
print(dataframe['c']['2'])

COL:
1     6
2    52
3    76
Name: c, dtype: int32

POS:
52

In [29]:
# !!!YOUR TURN!!!

# Slicing! Grab the first 2 rows and first 2 cols from dataframe
dataframe = pd.DataFrame(np.random.randint(1, 101, (len(rows), len(cols))), rows, cols)

dataframe[['a', 'b']][:2]
#I don't know how to grab the first two columns

    a   b
1  33   2
2  57  58

### Change gears

There is alot to learn about pandas - but you will learn more by example in the next notebook.